<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="enterpriseServices.openApi" type="EnterpriseServices.SecurityService.API.Configuration.ApiServiceReferenceUrlSection, EH.Security.OpenAPIs.SDK"/>
  </configSections>
  
  <enterpriseServices.openApi xmlns="urn:Masterduner@Yeah.net" baseUrl="http://localhost:1/">
    <add name="AuthenticationService" url="AuthenticationService.asmx"/>
    <add name="UserBehaviorService" url="UserBehaviorService.asmx"/>
    <add name="IdentityService" url="IdentityService.asmx"/>
    <add name="OrganizationService" url="OrganizationService.asmx"/>
    <add name="ParameterService" url="ParametersService.asmx"/>
    <add name="ComService" url="CommonsService.asmx"/>
  </enterpriseServices.openApi>
</configuration>
