<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EnterpriseServices.SecurityService.API.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EnterpriseServices.SecurityService.API.Properties.Settings>
            <setting name="EH_Security_OpenAPIs_SDK_AuthenticationService_AuthenticationService"
                serializeAs="String">
                <value>http://localhost:1/AuthenticationService.asmx</value>
            </setting>
            <setting name="EH_Security_OpenAPIs_SDK_BehaviorService_UserBehaviorService"
                serializeAs="String">
                <value>http://localhost:1/UserBehaviorService.asmx</value>
            </setting>
            <setting name="EH_Security_OpenAPIs_SDK_IdentityService_IdentityService"
                serializeAs="String">
                <value>http://localhost:1/IdentityService.asmx</value>
            </setting>
            <setting name="EH_Security_OpenAPIs_SDK_OrgService_OrganizationService"
                serializeAs="String">
                <value>http://localhost:1/OrganizationService.asmx</value>
            </setting>
            <setting name="EH_Security_OpenAPIs_SDK_ParamsService_ParametersService"
                serializeAs="String">
                <value>http://localhost:1/ParametersService.asmx</value>
            </setting>
        </EnterpriseServices.SecurityService.API.Properties.Settings>
    </applicationSettings>
</configuration>